
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;700&display=swap');

:root {
    --main-color: #ff305b;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    /* font-family: "Roboto",sans-serif; */
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Laila', sans-serif;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

#btn {
    border-radius: .4rem;
    font-size: 1.8rem;
    background-color: var(--main-color);
    padding: 1.5rem 4rem;
    margin-right: 4rem;
    color: #fff;
    text-transform: capitalize;
}


/* Start Scrollbar style  */

::-webkit-scrollbar {
    width: 1.5rem;
    transition: width 2s;
}

::-webkit-scrollbar-track {
    margin: 5px 0;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 4px;
}

#active {
    color: var(--main-color);
}


/* Start user header style  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background-color: transparent;
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 99;
}

.header .logo a {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
}

.header ul {
    display: flex;
    justify-content: space-between;
    width: 60%;
    text-transform: capitalize;
}

.header ul a {
    font-size: 1.2rem;
    color: #fff;
    transition: color 1s;
    font-weight: bold;
}

.header ul a:hover {
    color: var(--main-color);
}


/* End user header style  */


/* Start user Landing style  */

.user-landing {
    background-image: url(./imges/slider/slider-01.jpg);
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.user-landing .user-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.user-landing .welcome-user-mass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.user-landing .welcome-user-mass h2 {
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;
}

.user-landing .welcome-user-mass h1 {
    font-size: 5rem;
    color: var(--main-color);
    text-transform: uppercase;
    margin: 15px 0;
}

.wrapper {
    display: inline-flex;
}

.wrapper .statics {
    font-size: 3rem;
    color: #fff;
    font-weight: lighter;
}


/* End user Landing style  */


/* Start user about style  */

.about-me .about-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 50PX 0;
    padding: 2rem 15%;
    ;
}

.about-me .image {
    width: 300px;
    min-height: 100%;
    position: relative;
    transition: left 2s;
}

.about-me .image::before {
    content: "";
    width: 90%;
    height: 90%;
    border: solid 10px rgb(51, 51, 51);
    position: absolute;
    bottom: 40px;
    left: -15px;
    z-index: -1;
}

.about-me .image-me {
    position: relative;
    overflow: hidden;
    transition: width 2s;
}

.about-me .about-icon {
    position: absolute;
    
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
    /* padding: 4rem 0; */
    z-index: 3;
}

.about-me .about-icon a {
    transition-delay: .3s;
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
}

.about-me .image:hover .image-me::after {
    top: 0;
}

.about-me .image:hover a {
    color: var(--main-color);
    opacity: 1;
}

.about-me .image-me::after {
    content: "";
    width: 100%;
    opacity: .6;
    height: 100%;
    left: 0;
    top: 100%;
    position: absolute;
    background-color: #CFD2CF;
    z-index: 1;
    transition: top 2s;
    border-radius: 3px;
}

.about-me .image img {
    width: 100%;
    border-radius: 3px;
}

.about-me .details-me {
    flex: 1 1 45rem;
    width: 100%;
    padding: 4rem;
}

.about-me .details-me h4 {
    font-size: 3rem;
    position: relative;
    margin-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-me .details-me h4::before {
    content: "";
    position: absolute;
    width: .3rem;
    height: 4rem;
    background-color: var(--main-color);
    left: -15px;
    top: 0;
}

.about-me .details-me p {
    margin: 30px 0;
    line-height: 2;
    font-size: 2rem;
    border-bottom: 2px dotted #000;
    padding-bottom: 20px;
}

.about-me .table-data {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-me .table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me .table-data ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.about-me .table-data ul li {
    font-size: 1.5rem;
    color: #636363;
    margin-right: 2rem;
    width: 43%;
    display: inline-flex;
    margin: 5px 0;
}

.about-me .table-data ul span {
    font-weight: bold;
    margin-right: .5rem;
    color: #000;
}

.about-me .btn-user-about {
    margin-top: 4rem;
}


/* End user about style  */


/* Start user services style  */

.user-our-service {
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 4rem;
    padding: 6rem 6rem 2rem 7%;
}

.user-our-service .services {
    display: inline-block;
}

.user-our-service h3 {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 4rem;
    position: relative;
    border: solid 3px var(--main-color);
    padding: 16px 20px;
}

.user-our-service h3::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 20%;
    top: 90%;
    background-color: #f1f1f1;
    left: -50%;
    animation-name: anim1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anim1 {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}

.user-our-service h3::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 20%;
    top: -12%;
    background-color: #f1f1f1;
    right: -50%;
    animation-name: anim2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anim2 {
    from {
        right: -50%;
    }
    to {
        right: 100%;
    }
}

.user-our-service .about-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-our-service .service-row {
    width: 25%;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

.user-our-service .service-row:hover.service-row::after {
    opacity: 1;
    transition: opacity .8s;
}

.user-our-service .service-row:hover>div {
    transform: scale(1.5, 1.5);
    transition: transform 1s;
}

.user-our-service .service-row::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
}

.user-our-service .service-row>div {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.user-our-service .service-row h4 {
    font-size: 3rem;
    text-transform: capitalize;
}

.user-our-service .service-row p {
    font-size: 2rem;
    margin: 3rem 0;
}


/* End user services style  */


/* Start user portfolio style  */

.user-portfolio {
    padding: 2rem 10%;
    margin-top: 50px;
}

.portfolio-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-portfolio .portfolio-text h3 {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 50px;
    position: relative;
    border: solid 3px var(--main-color);
    padding: 16px 20px;
}

.user-portfolio .portfolio-text h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    top: 90%;
    background-color: #fff;
    left: 25%;
    animation-name: anim3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anim3 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.user-portfolio .portfolio-text h3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 90%;
    background-color: #fff;
    right: 25%;
    animation-name: anim4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anim4 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.user-portfolio .portfolio-list .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}

.user-portfolio .portfolio-list .list a {
    text-transform: capitalize;
    color: rgb(21, 21, 21);
    font-size: 1.5rem;
    
    text-transform: uppercase;
}

.user-portfolio .portfolio-list .list a:hover {
    color: var(--main-color);
}

.user-portfolio .portfolio-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.user-portfolio .portfolio-image {
    position: relative;
    width: 350px;
    margin-bottom: 20px;
    overflow: hidden;
}

.user-portfolio .portfolio-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    top: 100%;
    left: 100%;
}

.portfolio-image:hover.portfolio-image::before {
    /* transition: left 1s,top 2s; */
    left: 0;
    top: 0;
}

.user-portfolio .portfolio-content img {
    width: 100%;
}

.user-portfolio .portfolio-content .portfolio-image {
    position: relative;
}

.user-portfolio .portfolio-content .icon {
    position: absolute;
    font-size: 2rem;
    z-index: 5;
    bottom: 20px;
    right: 20px;
    color: var(--main-color);
    opacity: 0;
}

.portfolio-image:hover .icon {
    opacity: 1;
    transition: opacity 2s;
}


/* End user services style  */


/* Start user testimonail style  */

.user-testimonail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10rem 10%;
    align-items: center;
    text-align: center;
    background-color: #f1f1f1;
}

.user-testimonail .testimonail-details .icon {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.user-testimonail .testimonail-details h5 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.user-testimonail .testimonail-details p {
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: capitalize;
}


/* End user testimonail style  */


/* Start user feedback style  */

.user-feedback .feedback-text {
    display: flex;
    justify-content: center;
}

.user-feedback {
    padding: 2rem 10%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-feedback h3 {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 100px;
    position: relative;
    border: solid 3px var(--main-color);
    padding: 16px 20px;
}

.user-feedback h3::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 20%;
    top: 90%;
    background-color: #fff;
    left: -50%;
    animation-name: anim1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.user-feedback h3::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 20%;
    top: -12%;
    background-color: #fff;
    right: -50%;
    animation-name: anim2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.user-feedback .feedback {
    background: #f1f1f1;
    width: 70%;
    padding: 4rem 5rem 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: 2px 2px 10px 0px;
}

.user-feedback .feedback::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: -108%;
    left: -74%;
    transform: rotate(45deg);
    box-shadow: 4px 0 18px #fff;
}

.user-feedback .feedback img {
    border-radius: 50%;
    width: 70%;
    margin-bottom: 5rem;
}

.user-feedback .client-details h5 {
    font-size: 3rem;
    text-transform: capitalize;
    margin: 2rem 0;
}

.user-feedback .client-details p {
    font-size: 1.4rem;
    margin-bottom: 1.9rem;
}

.user-feedback .client-details .client-rate {
    color: gold;
}


/* End user feedback style  */


/* Start user blog style  */

.user-blog {
    background: #f1f1f1;
    padding: 2rem 10%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-blog h3 {
    font-size: 3rem;
    text-transform: capitalize;
    margin: 6rem 0;
    position: relative;
    border: solid 3px var(--main-color);
    padding: 16px 20px;
}

.user-blog h3::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 20%;
    top: 90%;
    background-color: #f1f1f1;
    left: -50%;
    animation-name: anim1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.user-blog h3::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 20%;
    top: -12%;
    background-color: #f1f1f1;
    right: -50%;
    animation-name: anim2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.blogers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5rem 10%;
}

.user-blog .blog-container {
    width: 50%;
    padding: 2rem;
    margin-bottom: 5rem;
}

.user-blog .blog-container img {
    width: 100%;
}

.user-blog .blog-container .blog-info {
    background: #fff;
    padding: 2rem;
}

.user-blog .blog-container .blog-info h5 {
    font-size: 1.3rem;
    font-weight: lighter;
    text-transform: capitalize;
    color: #636363;
}

.user-blog .blog-container .blog-info h2 {
    font-size: 2.3rem;
    text-transform: capitalize;
    font-weight: 300;
    margin: 1.5rem 0;
}

.user-blog .blog-container .blog-info p {
    font-size: 1.3rem;
    margin: 1.5rem 0;
    color: #636363;
}

.user-blog .blog-container .blog-info a {
    font-size: 1.3rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: #000;
}


/* End user blog style  */


/* Start user contact style  */

.user-contact-us {
    padding: 6rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-contact-us .contacting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.user-contact-us .contacting h3 {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 4rem;
    position: relative;
    padding: 16px 20px;
}

.user-contact-us .contacting h3::after {
    content: "";
    position: absolute;
    width: 75%;
    height: .1rem;
    top: 100%;
    left: 15%;
    background-color: var(--main-color);
}

.user-contact-us .contacting h3::before {
    content: "";
    position: absolute;
    width: 50%;
    height: .1rem;
    bottom: 10%;
    left: 25%;
    background-color: var(--main-color);
}


.field {
    width: 100%;
    min-height: 3.5rem;
    padding: .5rem 1rem;
    background-color: rgba(230, 230, 230, .6);
    font-size: 1.1rem;
    margin-bottom: 2rem;
    transition: .3s;
    outline: none;
    border-radius: .2rem;
    border: .1rem solid rgba(0, 0, 0, 0);
}

.field:hover {
    background-color: rgba(0, 0, 0, .1);
}

.field:focus {
    /* background-color: var(--main-color); */
    border: .1rem solid var(--main-color);
}

.user-contact-us .contacting .area {
    min-height: 15rem;
}

.user-contact-us #btn:hover {
    background-color: hsl(348, 100%, 70%);
}


/* End user contact style  */


/* Start user footer style  */

.user-footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 6rem;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon a {
    color: #fff;
}

.footer-icon .icon {
    font-size: 2rem;
    margin: 4rem;
}

.footer-icon .icon:hover a {
    color: var(--main-color);
}

.copyright {
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: lighter;
}

span {
    color: var(--main-color);
}


/* End user contfooteract style  */


/* Media Querry  */

@media screen and (max-width:992px) {
    html {
        font-size: 50%;
    }

    .about-me .about-row {
        display: flex;
        flex-direction: column;
    }
    .about-me .image {
        width: 50%;
        overflow: hidden;
    }
    .user-our-service .about-services {
        flex-wrap: wrap;
    }
    .user-our-service .service-row {
        width: 35%;
    }
}

@media screen and (max-width:769px) {
    html {
        font-size: 40%;
    }
   
    #btn {
        font-size: 1.3rem;
        padding: 1.3rem 2rem;
        margin-right: 4rem;
        display: inline-block;
        margin-bottom: 2rem;
    }
    .header {
        flex-direction: column;
        position: static;
        align-content: center;
        align-items: center;
        height: 60vh;
    }
    .header .logo {
        margin: 4rem 0;
        font-size: 4rem;
    }
    .header .logo a {
        font-size: 4.5rem;
    }
    .header .list {
        height: 70%;
        flex-direction: column;
        align-items: center;
    }
    .header .list a {
        padding: 0 1rem;
        font-size: 2rem;
    }
    .user-landing .welcome-user-mass h1 {
        font-size: 4rem;
    }
    .user-landing .welcome-user-mass .statics {
        font-size: 2rem;
    }
    .about-me .details-me h4 {
        font-size: 2rem;
    }
    .about-me .details-me h4::before {
        width: 1%;
        height: 20px;
    }
    .about-me .table-data ul li {
        width: 100%;
    }
    .user-our-service .about-services {
        justify-content: center;
    }
    .user-our-service .service-row {
        width: 50%;
    }
    .user-portfolio .portfolio-list .list a {
        font-size: 1.2rem;
    }
    .user-portfolio .portfolio-content {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .about-me .about-icon {
        justify-content:space-evenly ;
        
    }
    .about-me .about-icon a {
        font-size: 1.2rem;
    }
    .about-me .details-me p {
        line-height: 1.5;
    }
    .user-blog .blog-container {
        width: 100%;
    }
    .user-contact-us .contacting h3 {
       padding: 0;
       font-size: 3rem;
    }
    .user-testimonail .testimonail-details h5 {
        font-size: 2.5rem;
    }
    .user-testimonail .testimonail-details p {
        font-size: 1.2rem;
    }
}


@media screen and (max-width:480px) {
    .user-our-service .service-row {
        width: 100%;
    }
}